:root {
    font-family: 'Roboto Condensed', sans-serif;
    --background-color: white;
    --border-color: black;
    --accent-color1: #cc0000d8;
    --accent-color2: #00B355;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--accent-color1);
}

header {
    /* max-height: fit-content; */
    background-color: white;
}

header h1 {
    flex-grow: 20;
    text-align: center;
}

nav ul {
    list-style: none;
    font-size: xx-large;
    background-color: white;
    margin: 1em;
    padding: 1em;
    border: 2px solid black;
    border-radius: 15px;
    
}

li {
    padding: 1em;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

a:hover {
    color: var(--accent-color1);
    transition: 0.5s;
}

nav {
    /* border-right: 2px solid black; */
    max-width: 15vw;
    height: 100vh;
    position: fixed;
    background-color: var(--accent-color1);
}

.logo {
    max-height: 18em;
    margin-bottom: -3em;
    margin-top: -5em;
}

.main-col {
    display: flex;
    flex-direction: column;
    background-color: var(--accent-color1);
    color: black;
    align-items: flex-end;
    justify-content: center;
}

.pic-and-text {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 75vw;
    margin: 8em;
    background-color: white;
    padding: 1em;
    border: 2px solid black;
    border-radius: 15px;
}

.pic-and-text img {
    border-radius: 15px;
    border: 2px solid black;
}

.text-div {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    font-size: large;
}

.text-div h1 {
    font-size: 3em;
}

.products {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.products-div {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 85vw;
    flex-wrap: wrap;
}

.product-card {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 23vw;
    max-height: 42vh;
    min-height: 30vh;
    margin: 1em;

}

.product-image {
    height: 25vh;
}

.product-text {
    margin-left: 3em;
    font-size: 1.25em;
}